<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IBANYR.Properties.Settings.IBANYRConnectionString"
            connectionString="bcLPqMmzQ6c3DZ5I5132vBDJdRbcxHVDP8Cr/fHDxc6cmRSuuVPu0399M7Cg76BppfcYtsweX8COMLn2IyGdD6SgBKhEUU+R4zI2Mcj7i84="
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>